.DS_Store
.env
.flaskenv
*.pyc
*.pyo
logs/*.log
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

solhedge-be/
solhedge-fe/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
clean.sh
